<div class='shadow-sm p-3 mb-5 bg-white rounded overflow-wrap'>
  <h1>
    <span class='badge badge-pill badge-info'>
      <%= @product.id %>
    </span>
    <%= @product.title %>
    
  </h1>
  <p> Actual Price : $<%= @product.price %> </p>
  <p>Sales Price : $<%= @product.sales_price %> </p>
  <p class='shadow-none p-3 mb-5 bg-light rounded'><%= @product.description %></p>

  <%# link_to arguments: name, path, options_object %>

  <div>
    <%= link_to(
      "Edit",
      edit_product_path(@product),
      class: 'btn btn-info'
    )
    %>
    <%= link_to(
      "Delete",
      product_path(@product),
      method: :delete,
      class: 'btn btn-danger',
      data: { confirm: 'are you sure?' }
    )
    %>
    
  </div>

</div>

<ul class="list-group answer-list">
  <% @reviews.each do |review| %>
    <li class="list-group-item">
      <p>
        <%= review.rating %><br />
         <%= review.body %><br />
        
        <small>
          <%= link_to(
            "Delete",
            question_answer_path(@question, answer),
            method: :delete, 
            data: {
              confirm: "Are you sure?"
            },
            class: 'btn btn-danger btn-sm',
          ) %>
        </small>
        |
        <small>
     Rated on: <%= time_ago_in_words(answer.created_at) %>
        </small>
      </p>
    </li>
  <% end %>
</ul>