
<div class = "container">
<div class='shadow-sm p-3 mb-5 bg-white rounded overflow-wrap'>
  <h1>
    <span class='badge badge-pill badge-info'>
      <%= @product.id %>
    </span>
    <%= @product.title %>
    
  </h1>
  <p class='shadow-none p-3 mb-5 bg-light rounded'><%= @product.description %></p>
  Actual Price:$<%= @product.price %> <br>
  Sales Price:$<%= @product.sales_price %><br><br>
  <%# link_to arguments: name, path, options_object %>
  <div>
    <%= link_to(
      "Edit",
      edit_product_path(@product),
      class: 'btn btn-info'
    )
    %>
    <%= link_to(
      "Delete",
      product_path(@product),
      method: :delete,
      class: 'btn btn-danger',
      data: { confirm: 'are you sure?' }
    )
    %>
  </div>
</div>


<%#
  To create a form for a resource (i.e. a model), use the form_with
  helper instead of the form_tag. Its usual arguments are:
  - A named arg. model which is assigned an instance of a model
  (e.g. a new product)
  - A named arg. local which will prevent the form from submitting 
  its data using AJAX.
  - A block that is passed the form object wherein we build 
  the HTML inside the form (e.g. labels, inputs, submisssion buttons, etc)
  All data from the input fields a form built with this will have its 
  name-value nested in a hash named after the class of the passed in model. 
  (e.g. <input name="product[title]"> => { "product": {title: "What is your title?" }})
%>

<%= form_with(model: [@product, @review], local: true) do |f| %>
  <% if @review.errors.full_messages.each do |msg| %>
    <ul>
      <li class="text-danger"><%= msg %></li>
    </ul>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.text_area(
      :body,
      cols: 50,
      rows: 5,
      placeholder: "What are you thoughts?",
      class: "form-control"
    ) %>
  </div>
    <div class="form-group">
    <%= f.number_field(
      :rating,
      placeholder: "Rate-between: 1 to 5",
      class: "form-control"
    )%>
  </div>
  <%= f.submit "Rate This Product", class: "btn-warning btn-sm" %> <br><br>
<% end %>


<ul class="list-group review-list">
  <% @reviews.each do |review| %>
    <li class="list-group-item">
      <p>
           <p class="font-weight-bold">Rating: <%= review.rating.round(2) %></p><br />
          <p  class="font-italic">Review: <%= review.body %></p><br />
        <small>
          <%= link_to(
            "Delete",
            product_review_path(@product, review),
            method: :delete, 
            data: {
              confirm: "Are you sure?"
            },
            class: 'btn btn-danger btn-sm',
          ) %>
        </small>
        |
        <small>
        Rated On: <%= time_ago_in_words(review.created_at) %>
        </small>
      </p>
    </li>
  <% end %>
</ul>